* {
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;
  --black: #16332F;
  --grey: #C3C3C3;
  --grey-light: #EFEFEF;
  --grey-dark: #A3A3A3;
  --teal: #4FBEB8;
  --teal-light: #A7D9D6;
  --teal-dark: #2E938D;
  --purple: #6F4E9D;
  --purple-light: #9B82BE;
  --purple-dark: #45286D;
  --pink: #DF4C97;
  --pink-light: #F6ACCC;
  --pink-dark: #BC3B88;
}

body {
  margin: 0;
  font: 15px/24px 'Mulish', sans-serif;
  color: var(--black);
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  margin: 0 0 1.5em;
}

h5 {
  font-size: 15px;
  line-height: 1.5em;
  font-weight: 600;
}

h4 {
  font-size: 18px;
  line-height: 1.4em;
  font-weight: 600;
  letter-spacing: 0.05em;
}

h3 {
  font-size: 20px;
  line-height: 1.3em;
  font-weight: 600;
}

h2 {
  font-size: 30px;
  line-height: 1.6em;
  font-weight: 500;
}

h1 {
  font-size: 84px;
  line-height: 1.0em;
  font-weight: 500;
}



.mobile {
  display: none;
}

#menuToggle {
  z-index: 100;
  -webkit-user-select: none;
  user-select: none;
  /*position: relative;*/
  padding: 0 20px;
  font-size: var(--h5);
  letter-spacing: 0.;05em;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: var(--white);
}

#home #menuToggle {
  color: var(--black);
}

#menuToggle > input {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}


#menu {
  position: absolute;
  height: 100vh;
  overflow-y: auto;
  top: 4em;
  left: 0vw;
  opacity: 0;
  background: var(--grey-light);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--black);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(0, -100%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  padding: 3em calc(4 / 48 * 100%) 8em;
  min-width: 100%;

}


#menu a {
  color: var(--black);
  font-size: 2em;
  text-decoration: none;
  display: block;
  line-height: 2em;
  margin: 0;
  font-weight: 500;
}


#menu h5 {
  color: var(--black);
  line-height: 2em;
  margin-top: 1.5em;
  font-weight: 700;
  color: var(--pink);
}

#menuToggle > input:checked ~ #menu {
  transform: scale(1, 1);
  opacity: 1;
}

/* Components */
.btn, #contact-submit {
  font-weight: 600;
  text-decoration: none;
  line-height: 42px;
  padding: 10px 30px 10px 20px;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 12px;
  letter-spacing: 0.15em;
  text-align: left;
  display: inline-block;
  width: auto;
  font: inherit
}

.btn:before, #contact-submit:before {
  font-size: 1.5em;
  line-height: 1;
  display: inline-block;
  width: 20px;
  content: "\2022";
}

.btn:hover {
  background: var(--white);
  color: var(--black);
}

nav .btn-enroll {
  background: transparent;
  color: var(--white);
  border-color: var(--white);
}

#home .btn-enroll {
  background: var(--teal);
  color: var(--white);
  border-color: transparent;
}

#home .btn-enroll:hover {
  background: var(--white);
  color: var(--teal);
  border-color: var(--white);
}

#menu .btn-enroll {
  border-radius: 15px;
  font-size: 1em;
  text-indent: -3px;
  background: var(--teal);
  color: var(--white);
  margin-bottom: 1em;
  padding: 8px 25px;
}

.btn-pink-solid {
  background-color: var(--pink);
  color: var(--white);
}

.btn-purple:hover {
  color: var(--purple);
}

.btn-pink:hover {
  color: var(--pink);
}

.btn-pink-solid:hover {
  background-color: var(--pink-dark);
  color: var(--white);
}

.btn-teal:hover {
  color: var(--teal);
}

.flex {
  display: flex;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.spacer {
  background: var(--grey-light);
  height: 48px;
}

.courses-block {
  display: flex;
  justify-content: space-between;
}

.course {
  border: 2px solid var(--grey-light);
  border-radius: 12px;
  overflow: hidden;
  width: calc(100% * 44 / 48 / 3);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.course-details {
  padding: 30px;
  flex: 1;
}

.course-details > h3 {
  margin-bottom: 0.5em;
}

.course-subtitle {
  color: var(--purple-dark);
  font-weight: 700;
  margin-bottom: 0.5em;
}

.course-meta, .sponsor-meta {
  background: var(--grey-light);
  padding: 25px 50px 25px 30px;
}

.course-bottom {
  width: 100%;
}

.course img {
  width: 100%;
}

.btn-course {
  background: var(--teal);
  border: 0;
  border-radius: 0;
  width: 100%;
  line-height: 56px;
  padding-left: 30px;
}

.btn-course:hover {
  background: var(--teal-dark);
  color: var(--white);
}

.stairs {
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
}

/* Layout */
header {
  background: var(--grey-light);
  height: 60px;
  padding: 0 calc(2 / 48 * 100%);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header > .logo {
  flex: 1;
  z-index: 9999;
}

header > nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > nav > a {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.1em;
}

header > nav > a:hover {
  color: var(--teal);
}

#enroll header > nav > a:hover {
  color: var(--black);
}

.container {
  padding: 7rem calc(4 / 48 * 100%);
}

.container-small {
  padding: 2rem calc(8 / 48 * 100%);
}

.hero-section {
  background: var(--white);
  display: flex;
}

.hero-description {
  width: 50%;
}

.home-hero {
  min-height: 45rem;
}

.home-hero > .title {
  background: url(images/home-hero-title-bg.svg) no-repeat center center;
  flex: 1;
  background-size: contain;
  align-self: center;
  display: flex;
  justify-content: flex-end;
}

.home-hero > .title > h1 > .indent-2 {
  margin-left: 1em;
}

.home-hero > .illust {
  flex: 1.2;
  align-self: flex-end;
}

.home-hero > .illust > img {
  margin-bottom: -50px;
  max-width: 90%;
}

.about-hero {
  background-color: var(--purple-dark);
  padding: 5rem calc(100% * 4 / 48);
  align-items: flex-end;
  color: #fff;
}

.about-hero > .title {
  background: url(images/about-hero-title-bg.svg) no-repeat center center;
  padding: 6rem 0 3rem;
  background-size: contain;
  flex: 1;
  align-self: center;
  display: flex;
  justify-content: flex-start;
  color: var(--teal);
}

#about .container-small {
  padding: 5em calc(8 / 48 * 100%);
}

.indent-2 {
  margin-left: 1em;
}

.indent-1 {
  margin-left: 0.5em;
}

.cta-block {
  display: flex;
}

.home-cta {
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-cta > p, .home-cta > h3 {
  width: 50%;
  margin-bottom: 1.5em;
}

.home-cta-main {
  background: var(--purple-dark);
  min-height: 30rem;
}

.home-cta-left {
  flex: 1;
  background-color: var(--teal);
  background-image:url(images/home-cta-left-bg.svg);
  background-repeat: no-repeat;
  background-position: 10px bottom;
  min-height: 10rem;
  padding: 4rem 0;
}

.home-cta-right {
  flex: 1;
  background-color: var(--pink);
  background-image: url(images/home-cta-right-bg.svg);
  background-repeat: no-repeat;
  background-position: right calc(100% - 10px);
  min-height: 10rem;
  padding: 4rem 0;
}

.home-cta img {
  max-width: 20%; 
  margin-bottom: 1.5em; 
}

.home-courses {
  background: var(--white);
  padding: 7rem calc(100% * 4 / 48) 0;
}

.home-courses > h2 {
  text-align: center;
}

.testimonials {
  background: var(--grey-light);
  padding: 5rem 20%;
  text-align: center;
}

.testimonials > blockquote {
  font-size: 18px;
  line-height: 28px;
  font-style: italic;
  margin-bottom: 1.5em;
}

.testimonials > .author {
  color: var(--purple-dark);
  text-transform: uppercase;
  letter-spacing: 0.8;
}

footer {
  padding: 3rem 0;
  text-align: center;
  background: var(--pink);
  color: var(--white);
}

#about footer {
  background: var(--teal);
}

#sponsor footer {
  background: var(--purple);
}

#about header {
  background-color: var(--purple);
  color: #fff;
}

#about .hero-description h4 {
  color: var(--pink);
}

.about-story img, .about-story h2 {
  text-align: center;
}

#enroll header {
  background-color: var(--teal);
  color: #fff;
}

.enroll-hero {
  padding: 5rem calc(100% * 4 / 48);
  align-items: flex-end;
}

.enroll-hero > .title {
  background: url(images/enroll-hero-title-bg.svg) no-repeat center center;
  padding: 6rem 0 3rem;
  background-size: contain;
  flex: 1;
  align-self: center;
  display: flex;
  justify-content: flex-start;
  color: var(--black);
}

.hero-section > .title > h1 {
  font-size: 5vw;
  margin: 0 auto;
}

#enroll .hero-description h4 {
  color: var(--purple);
}

#sponsor header {
  background-color: var(--pink);
  color: #fff;
}

.sponsor-hero {
  padding: 5rem calc(100% * 4 / 48);
  align-items: flex-end;
}

.sponsor-hero > .title {
  background: url(images/sponsor-hero-title-bg.svg) no-repeat center center;
  padding: 6rem 0 3rem;
  background-size: contain;
  flex: 1;
  align-self: center;
  display: flex;
  justify-content: flex-start;
  color: var(--black);
}

#sponsor .hero-description h4 {
  color: var(--teal);
}

.sponsor {
  border: 2px solid var(--grey-light);
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.sponsor-details {
  padding: 30px;
}

.sponsor-details h2, .sponsor-meta h5 {
  margin-bottom: 0.5em;
}

.sponsor-details img {
  float: right;
  margin: 0 0 0 30px;
}

#donors-list {
  list-style-type: none;
  column-count: 4;
  margin: 0;
  padding: 0;
}

.staff-group, .coach-group {
  margin: 3em 0;
}

.staff-group > h4, .coach-group > h4 {
  width: 100%;
  border-bottom: 1px solid var(--grey);
  padding: 10px;
  color: var(--purple);
}

.staff {
  display: flex;
  align-items: flex-start;
  margin-bottom: 3em;
}

.coach-group {
  display: flex;
  flex-wrap: wrap;
}

.coach {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1em;
  width: 47%;
  margin-right: 1em;
}

.staff img {
  margin-right: 2em;
}

.coach img {
  margin-right: 1em;
}

.staff-info h4 {
  margin-bottom: 0px;
  text-transform: uppercase;
}

.staff-info h5 {
  color: var(--pink);
  text-transform: uppercase;
}

#contact {
  min-height: 100vh;
  background: var(--grey-light);
  z-index: 9998;
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  transform-origin: 0% 0%;
  transform: translate(0, -100%);
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition-property: transform, opacity;
}

#contact .container-small {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact .container-small > * {
  width: 45%;
}

#contact.toggled {
  transform: scale(1, 1) translate(0, 60px);
  opacity: 1;
}

.contact-image {
  text-align: center;
}

.contact-image img {
  width: 100%;
}

input, textarea {
  padding: 1em 0;
  text-indent: 1.5em;
  border: 0;
  border-radius: 12px;
  width: 100%;
  margin-bottom: 1em;
  font: 15px/24px 'Mulish', sans-serif;
}

label {
  font-size: var(--h5);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 3em;
}

textarea {
  height: 200px;
}


#contact-submit {
  width: auto;
  text-transform: uppercase;
}

@media(max-width: 1024px) {

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .container, .container-small {
    padding: 5em calc(4 / 48 * 100%);
  }

  .hero-section, .cta-block, .courses-block {
    display: block;
  }

  .hero-section > * {
    margin: 0 auto 2em;
  }

  .home-hero {
    min-height: 0;
  }

  .home-hero .title {
    margin-top: 3em;
  }

  .home-hero > .illust {
    text-align: center;
  }

  .hero-section > .title > h1 {
    font-size: 8vw;
  }

  .hero-description {
    width: 100%;
  }

  .course {
    width: 100%;  
    margin-bottom: 2em;
  }

  .course img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  #donors-list {
    column-count: 2;
  }

  .home-cta > p, .home-cta > h3 {
    width: 90%;
  }

  .home-cta-left, .home-cta-right {
    background-image: none;
    padding: 2rem 0;
  }

  .testimonials {
    padding: 5rem 10%;
  }

  .about-hero, .enroll-hero, .sponsor-hero {
    padding: 2rem calc(100% * 4 / 48) 1rem;
  }

}

@media(max-width: 768px) {
  .container, .container-small {
    padding: 5em calc(2 / 48 * 100%) 2em !important;
  }  

  .sponsor-details img {
    display: none;
  }

  .staff, .coach {
    display: block;
    width: 100%;
  }

  .staff img {
    margin-bottom: 1em;
  }

  .course img {
    height: 250px;
}
}

@media(max-width: 500px) {

  #donors-list {
    column-count: 1;
  }

  .hero-section > .title > h1 {
    font-size: 11vw;
}


}